<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_tag @doctor.image.url(:medium) %>
    </a>
  </div>
  <div class="row">
  <div class="col-xs-6 col-md-5">

    <ul class="list-group">
      <li class="list-group-item"><h4><%= @doctor.name %></h4></li>
      <li class="list-group-item"><strong>Website: </strong><%= @doctor.website %></li>
      <li class="list-group-item"><strong>Phone: </strong> <%= @doctor.phone %></li>
      <li class="list-group-item"> <strong>Title: </strong><%= @doctor.title %></li>
    </ul>
  </div>
  <div class="row">
  <div class="col-xs-6 col-md-4">
    
  </div>
</div>
    

    

</div>


  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<div class="row">
  <div class="container">
  <div class="col-md-6">
<%= simple_form_for(@doctor, html: { class: 'form-horizontal' }) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.file_field :image %>
  <%= f.input :name %>
  <%= f.input :website %>
  <%= f.input :phone %>
  <%= f.input :title %>
  <%= f.button :submit %>
<% end %>
</div>
</div>
</div>
</div>
</div>




<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

<div class="container">
  <div class="row">

  <div class="col-md-2"><strong>Cedula Profesional</strong></div>
<%= simple_form_for(@doctor, html: { class: 'form-horizontal' }) do |f| %>

<h3> Experience </h3>

  <div id="tasks" >
   <%= f.fields_for :tasks do |task| %>
     <%= render 'task_fields', f: task %>
  <% end %>
  <div class="links">
      <%= link_to_add_association 'add task', f, :tasks, class:"btn btn-default" %>

 <% end %>
 </div>
</div>
  </div>
 </div>


    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

<div class="container">
  <div class="row">
  <div class="col-md-2"><strong>Procedures</strong></div>
    
 <%= simple_form_for(@doctor, html: { class: 'form-horizontal' }) do |f| %>

  <h3> Procedures </h3>
  <div id="procedures" >
   <%= f.fields_for :procedures do |procedure| %>
     <%= render 'procedure_fields', f: procedure %>
  <% end %>
  <div class="links">
   <%= link_to_add_association 'add procedure', f, :procedures, class:"btn btn-default" %>

 <% end %>
 </div>
</div>
  </div>
 </div>


    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

<div class="container">
  <div class="row">
  <div class="col-md-2"><strong>Experience</strong></div>
    
 <%= simple_form_for(@doctor, html: { class: 'form-horizontal' }) do |f| %>

  <h3> Resume </h3>
  <div id="resume" >
   <%= f.fields_for :resumes do |resume| %>
     <%= render 'resume_fields', f: resume %>
  <% end %>
  <div class="links">
   <%= link_to_add_association 'add resume', f, :resumes, class:"btn btn-default" %>

 <% end %>
 </div>
</div>
  </div>
 </div>


    </div>
  </div>
</div>
</div>



