<div class="container-fluid">
<div class="jumbotron">
  <div class="container">
  
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="color-box">
    <div class="container">
<div class="row">
  <div class="col-xs-6 col-md-4"><span style="text-align:center;"><h2>Proyecto</h2></span></div>
  <div class="col-xs-12 col-md-8">
<p>NewCity Medical Plaza es el proyecto más innovador de Turismo Médico en México, se construye en la ciudad de Tijuana, B.C. a 500 metros de la frontera con San Diego para impulsar el Turismo de Salud en el Estado.</p>
<p>Nuestro objetivo es crear un proyecto integral con instalaciones de primer nivel, con amenidades y servicios que cubran TODAS las necesidades de nuestros médicos, pacientes y sus acompañantes</p></div>
  
</div>
  </div>
  </div>
</div>
<div class="container">
  <h1>Listing Doctors</h1>
  <p id="notice"><%= notice %></p>
<% @doctors.each_slice(3) do |doctor| %>
<div class="row">
  <% doctor.each do |doctors| %>
  <div class="col-md-4">
    
    <div class="thumbnail">
     <%= image_tag doctors.image.url , class:"img-thumbnail"%>
      <div class="caption">
        <h3><%= doctors.name %></h3>
        <td><%= doctors.website %></td>
        <td><%= doctors.phone %></td>
        <td><%= doctors.title %></td>
        <td><%= link_to 'Show', doctors %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
        <td><%= link_to 'Destroy', doctors, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <p><%= doctors.title %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        
    
      </div>

    </div>

  </div>
 <% end %>
</div>
 <% end %>
</div>
<div class="container-fluid">
  <div class="color-box">
    <div class="container">
      <div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4"><span style="text-align:center;"><h1>CONTÁCTANOS</h1></span></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>

  </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-xs-6">
<p>Gral. Manuel Márquez de León 1301,</p>
<p>Zona urbana Río Tijuana (frente Pueblo Amigo)</p>
<p>Tijuana, B.C. C.P. 22010</p>

<p><strong>Télefono: (664) 688 7357 | 01 800 4 HEALTH</strong></p>
<p>Email: ventas@newcitymed.com</p>

<p><strong><span style="color: #2a76af;">FROM USA</span></strong></p>
<p>Email: ventas@newcitymed.com</p>
<img src="images/newcity-b.jpg" alt="..." class="img-thumbnail">
</div>
  <div class="col-xs-6">

    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</div>
</div>
</div>








