<!DOCTYPE html>
<html>
<head>
  <title>Newcitymedapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %> 
<%= render 'layouts/slider' %>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8"><p class="notice"><%= notice %></p></div>
        <div class="col-xs-6 col-md-4"><p class="alert"><%= alert %></p></div>
		   
       
     </div>
    </div>
             <div class="row">

     <%= yield %>

             </div>
   </div>
   <%= render 'layouts/bottom' %> 
</body>
</html>
