<!DOCTYPE html>
<html>
<head>
  <title>Newcitymedapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %> 
<%= render 'layouts/slider' %>
  <div class="container-fluid">
		<p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          
             <div class="row">

     <%= yield %>

             </div>
   </div>
   <%= render 'layouts/bottom' %> 
</body>
</html>
